@import url("https://use.typekit.net/umq5ymo.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1.125em/1.5em 'alda', 'Droid Serif', serif;
  background: #232323 url('../images/header.png') repeat fixed;
  color: #232323;
}

a {
  text-decoration: none;
  color: #21648b;
  transition: color 0.3s;
}

a:hover, a:active {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'jaf-peacock-deep', sans-serif;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
}

p, ul, ol {
  margin: 0;
}

.underline {
  text-decoration: underline;
}

/**
 * Header
 */
header {
  background: #232323 url('../images/header.png') repeat fixed;
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
}

header a {
  color: #fff;
  font-weight: bold;
}

header a:hover, header a:active,
header ul li.active a, header a.active {
  color: #ffd966;
  border: 0;
  text-decoration: none;
}


header h1 {
  padding: 2rem 1.5rem;
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
}

header h1 a {
  color: #fff;
}

header h1 a:hover, header h1 a:active {
  color: #ccc;
}

header .header__language-selector {
  clear: both;
  padding: 1rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  zoom: 1;
}

header .header__language-selector:before,
header .header__language-selector:after {
  content: " ";
  display: table;
}

header .header__language-selector:after {
  clear: both;
}

header .header__language-selector p {
  color: #e3e3e3;
  padding: 0.4rem 0;
}

header .header__language-selector ul {
  padding: 0;
  zoom: 1;
}

header .header__language-selector ul:before,
header .header__language-selector ul:after {
  content: " ";
  display: table;
}

header .header__language-selector ul:after {
  clear: both;
}

header .header__language-selector ul li {
  padding: 0;
  list-style-type: none;
  float: left;
}

header .header__language-selector ul li a {
  display: inline-block;
  padding: 0.4rem 1rem 0.4rem 0;
  color: #000;
  font-weight: normal;
}

header .header__language-selector ul li a.header__language-selector__more-link {
  color: #e4e4e4;
}

header .header__language-selector ul li a:hover,
header .header__language-selector ul li a:active {
  color: #ffd966;
}

/**
 * Nav (header and footer)
 */
nav ul {
  padding: 0;
}

nav ul li {
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

nav ul li a {
  display: block;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

nav ul li a:hover,  nav ul li a:active {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

/**
 * Cards
 */
.card {
  padding: 1rem 2rem;
}

.card__container {
  zoom: 1;
  margin-top: 1rem;
}

.card__container:before, .card__container:after {
  content: " ";
  display: table;
}

.card__container:after {
  clear: both;
}

.card__content {
  background-color: #fff;
  padding: 2rem 1rem;
  margin: -1rem 1rem 0;
  position: relative;
  z-index: 2;
}

.card__content__listing h4, .card__content__listing p {
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
  font-weight: normal;
}

.card__content__listing h4 {
  font-weight: bold;
  color: #343434;
}

.card__content__listing ul {
  padding: 0;
  margin-bottom: 2em;
}

.card__content__listing ul li {
  list-style: none;
  margin-bottom: 1rem;
  line-height: 1.25em;
  font-size: 0.85em;
  min-height: 10em;
}

.card__content__listing p small {
  display: block;
  line-height: 1.35em;
}

.card__feature {
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
  position: relative;
}

.card__feature h3 {
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
  font-weight: bold;
}

.card__feature__content {
  padding: 2rem 3rem;
}

.card__feature__content.has-image {
  position: absolute;
  bottom: 0;
  width: 20em;
  color: #fff;
}

.card--left-orientation .card__feature__content.has-image {
  text-align: right;
  right: 0;
}

.card__feature__listing {
  columns: 2;
  margin-top: 4rem;
  line-height: 1.2em;
  clear: both;
}

.card__feature__listing h3 {
  text-transform: uppercase;
  font-size: 0.85em;
  color: #000;
  letter-spacing: 0.15em;
  margin-bottom: 1rem;
}

.card__feature__listing h4 {
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
  font-weight: normal;
}

.card__feature__listing ul {
  padding: 0;
  margin-bottom: 2em;
}

.card__feature__listing ul li {
  list-style: none;
  margin-bottom: 1rem;
}

.card__feature__listing ul li a, .card__feature__listing p a {
  color: #fff;
}

/**
 * Card-specific styles
 */
.card--intro {
  background: #232323 url('../images/card-intro.png') repeat fixed;
  font-size: 1.25em;
  line-height: 1.5em;
}

.card--intro .card__content {
  background-color: transparent;
  border: 0;
}

.card--intro .card__content h2 {
  color: #fff;
}

.card--intro .card__content p {
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
}

.card--intro .card__content strong {
  color: #000;
}

.card--voice,
.card--main {
  background: #e4e4e4 url('../images/card-labs.png') repeat fixed;
}

.card--voice h2, .card--voice a {
  color: rgb(73,163,206);
}

.card--voice .card__container {
  background-color: rgba(73,163,206,0.25);
}

.card--voice .card__feature {
  background: transparent url('../images/card-labs-feature-ask-georgiagov.png') no-repeat bottom left;
  background-size: contain;
  min-height: 30em;
}

.card--voice .card__feature__content {
  color: #e4e4e4;
}

.card--main h2, .card--main a {
  color: #21648b;
}

.card--main .card__content h2,
.card--main .card__content h3 {
  text-transform: uppercase;
  font: bold 1.15em 'basic-sans', 'Droid Sans', sans-serif;
  color: #000;
  letter-spacing: 0.15em;
  margin: 2rem 0 1rem;
}

.card--main .card__content h3 {
  font-size: 0.9em;
}

.card--main .card__content p {
  margin: 1rem 0;
}

.card--main .card__content__listing p {
  margin: 0;
}

.card--work {
  background: #232323 url('../images/card-work.png') repeat fixed;
}

.card--work h2, .card--work a {
  color: rgb(205,155,35);
}

.card--work .card__container {
  background-color: rgba(205,155,35,0.25);
}

.card--work .card__feature {
  background: transparent url('../images/card-work-feature-harvard-crimson.png') no-repeat top right;
  background-size: contain;
  min-height: 33em;
}

.card--writing {
  background: #e4e4e4 url('../images/card-articles.png') repeat fixed;
}

.card--writing h2, .card--writing a, .card--writing ul li a, .card--writing p a {
  color: rgb(39,95,95);
}

.card--writing .card__container {
  background-color: rgba(0,59,59,0.3);
}

.card--writing .card__feature {
  background: transparent url('../images/card-articles-feature-decoupled-drupal.png') no-repeat top left;
  background-size: contain;
  min-height: 30em;
}

.card--speaking {
  background: #000 url('../images/card-speaking.jpg') no-repeat bottom right;
  background-size: cover;
}

.card--speaking h2, .card--speaking a {
  color: rgb(194,123,160);
}

.card--speaking .card__container {
  background-color: rgba(194,123,160,0.9);
}

.card--open-source {
  background: #e4e4e4 url('../images/card-drupal.png') repeat fixed;
}

.card--open-source h2, .card--open-source a {
  color: rgb(33,100,139);
}

.card--open-source .card__container {
  background-color: rgba(33,100,139,0.35);
}

.card--languages {
  background: #232323 url('../images/card-languages.png') repeat fixed;
}

.card--languages h2, .card--languages a {
  color: rgb(251,140,0);
}

.card--languages .card__container {
  background-color: rgba(251,140,0,0.5);
}

/**
 * Footer
 */
footer {
  background: #232323 url('../images/header.png') repeat fixed;
  font-family: 'basic-sans', 'Droid Sans', sans-serif;
  color: #e4e4e4;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

footer a {
  color: #ffd966;
}

footer a:hover, footer a:active {
  color: #fff;
}

footer h3 {
  color: #787878;
  padding: 1.5rem 0 0.4rem;
}

/**
 * Media queries
 */
@media all and (min-width: 42em) {

  header .header__language-selector p strong:after {
    display: block;
  }

  nav ul li {
    display: inline;
    float: left;
  }

  nav ul li a {
    display: inline-block;
  }

  nav ul li a:hover, nav ul li a:active {
    background-color: transparent;
  }

  .card {
    min-height: 5rem;
  }

  .card--speaking {
    background-size: contain;
  }
}

@media all and (min-width: 67em) {

  header h1 {
    display: inline-block;
    float: left;
  }

  header nav, footer nav {
    display: inline-block;
    float: right;
    padding: 1rem;
  }

  header .header__language-selector p {
    display: inline-block;
    float: left;
  }

  header .header__language-selector p strong:after {
    display: inline-block;
  }

  header .header__language-selector ul {
    display: inline-block;
    float: right;
  }

  .card__container {
    width: 960px;
    margin: 2rem auto 1rem;
  }

  .card__content {
    margin-top: -1rem;
  }

  .card__content__listing ul {
    zoom: 1;
  }

  .card__content__listing ul:before, .card__content__listing ul:after {
    content: " ";
    display: table;
  }

  .card__content__listing ul:after {
    clear: both;
  }

  .card__content__listing ul li {
    float: left;
    width: 30%;
    height: 7.5em;
    padding-right: 1.5rem;
  }

  .card__feature {
    margin-top: -4rem;
  }

  .card--left-orientation, .card--right-orientation {
    zoom: 1;
  }

  .card--left-orientation:before, .card--left-orientation:after,
  .card--right-orientation:before, .card--right-orientation:after {
    content: " ";
    display: table;
  }

  .card--left-orientation:after, .card--right-orientation:after {
    clear: both;
  }

  .card--left-orientation .card__content {
    width: 35%;
    float: left;
    margin-left: -1rem;
  }

  .card--left-orientation .card__feature {
    width: 65%;
    float: right;
    margin-right: -2rem;
  }

  .card--right-orientation .card__content {
    width: 35%;
    float: right;
    margin-right: -1rem;
  }

  .card--right-orientation .card__feature {
    width: 65%;
    float: left;
    margin-left: -2rem;
  }

  .footer__container {
    width: 960px;
    margin: 0 auto;
    zoom: 1;
  }

  .footer__container:before, .footer__container:after {
    content: " ";
    display: table;
  }

  .footer__container:after {
    clear: both;
  }

  .footer__first {
    width: 50%;
    float: left;
  }

  .footer__second {
    width: 50%;
    float: right;
  }

  footer nav ul li {
    display: block;
    float: none;
    text-align: right;
  }
}

@media all and (min-width: 80em) {

  .card__container {
    width: 1120px;
  }

  .card--intro {
    font-size: 1.8em;
    margin: 0 auto;
  }

  .card--main {
    font-size: 1.15em;
    line-height: 1.65em;
  }

  .footer__container {
    width: 1120px;
  }
}
